doctype 5
html(lang="en")
  head
    title Bing - Popular Now Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css" href="/assets/css/site.css")
    link(rel="stylesheet", type="text/css" href="/assets/css/external/MetroJs.css")

    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type="text/javascript", src="//code.jquery.com/ui/1.10.3/jquery-ui.js")
    script(type="text/javascript", src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
    script(type="text/javascript", src="/assets/js/main.js")
    script(type="text/javascript", src="/assets/js/external/MetroJs.js")
  body
    .board-container
        div.title()
            span
                div.bing-logo()
                | &mdash; Popular Now				        
        div(id="board-image", class="board-image")
            each item in popular_search_trends 	
                div(class="live-tile", data-mode="flip", data-query="#{item.query}")
                    div
                        div(class="full board-liner")
                    if(item.isImage)
                        div.img-match()
                            img(class="full" src="#{item.image_url}")
                    else
                        div.text-match()
                            span
                                | #{item.title}
        hr
        .text-muted
            &copy; 2013 &nbsp;
            a(href="http://twitter.com/jamiechung") Jamie Chung
            &nbsp;
            span |
            &nbsp;
            a(href="http://twitter.com/ammobear") Aaron West
            &nbsp;
            span |
            &nbsp;
            a(href="http://twitter.com/danbut") Dan But
            &nbsp;
