body {
    font-family: "Segoe UI Light";
    position: fixed;
    background: #333;
    width: 100%;
}

.board-container {        
    width: 100%;
}

.title {
    color: #fff;
    font-size: 33px;
    font-weight: 900;
    margin-left: 116px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.bing-logo {
    background-attachment: scroll;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(http://www.bing.com/s/a/hpc12.png);
    -moz-background-origin: padding-box;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    background-position: 0% 0%;
    -moz-background-size: auto;
    -o-background-size: auto;
    -webkit-background-size: auto;
    background-size: auto;
    border-collapse: collapse;
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    font-size: 13.333333969116211px;
    height: 51.99652862548828px;
    margin: -7px 21px 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-indent: -260px;
    width: 131.9965362548828px;
}

.board-pic {
    height: 98px;
    width: 98px;
}

.board-image {
    height: 640px;
    width: 1366px;
    margin: auto;
}

.board-liner {    
    opacity: .4;
    background: #000;
    width: 100px;
    height: 100px;
    padding: 1px;
    border: 1px solid #fff;
}

.found{
    cursor: auto !important;
}

    .board-liner:hover {
        opacity: .5;
        border: 2px solid #fff;
    }

.board-box {
    height: 98px;
    width: 98px;
}

.text-match {
    padding: 10px;
    font-size: 25px;
    border: 1px solid #fff;
    opacity: .7;
    background: #000;
}

.live-tile {
    /*width: 160px !important;
    height: 80px !important;*/
}

.text-muted{
    margin-left: 115px;
}
